---
import statistic from "../statistic.svg";

export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="px-4 pt-4 rounded-2xl bg-grayish-500">
  <a href={href}>
    <span class="font-bold">Statistic</span>
    <span>
      <img src={statistic} />
    </span>
  </a>
</div>
